body {
	background-color: black;
}

h1 {
	text-align: center;
	font-family: Helvetica;
	background: #333333;
	color: #FFFFFF;
	border-radius: 25px;
    border: 5px solid #F2F2F2;
    padding: 5px;
}


#render {
	background-color: #00b300;
	color: #FFFFFF;
}